# Dora Library Experimentation

Used for the following:
+ Reading Data & Configuration
+ Cleaning
+ Feature Selection & Extraction
+ Visualization
+ Model Validation
+ Data Versioning

### Reading Data & Configuration

In [3]:
# Import required module
import pandas as pd
from Dora import Dora
  
# Create object
dora = Dora()
  
# Add dataset path as argument 
dora.configure(output = 'cost', data = 'train.csv')
  
# Display dataset
dora.data

,ID,date,sourceLatitude,sourceLongitude,SourceState,destinationLatitude,destinationLongitude,destinationState,distanceKM,taxiDurationMin,vehicleType,vehicleOption,weight,price
0,88142929797,960218,36.666045,48.489706,زنجان,29.600574,52.537114,فارس,1092.0,751.0,treili,kafi,20.00,15300000
1,30842979862,960511,32.323951,50.855412,چهارمحال و بختیاری,34.644923,50.876092,قم,414.0,264.0,khavar,mosaghaf_felezi,2.50,1800000
2,54262798716,960602,32.575448,51.581011,اصفهان,31.819508,49.865235,خوزستان,310.0,292.0,joft,kompressi,14.97,3742000
3,64071173752,960319,35.029685,48.085763,کردستان,35.703801,51.398824,تهران,391.0,271.0,khavar,mosaghaf_felezi,2.50,1300000
4,68088966447,960609,31.586965,54.449607,یزد,36.730367,53.965480,گلستان,756.0,573.0,joft,bari,15.00,8870000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,96826217204,960308,32.178659,54.068647,یزد,32.675211,51.669889,اصفهان,291.0,193.0,treili,kafi,23.89,6360000
49996,95810934666,960130,33.990468,50.688987,مرکزی,35.695076,51.397359,تهران,252.0,179.0,tak,yakhchali,6.25,3255000
49997,79567615539,960301,32.384790,48.406081,خوزستان,33.989690,51.440449,اصفهان,554.0,440.0,khavar,mosaghaf_felezi,4.50,6500000
49998,46401291404,960122,34.795119,48.521234,همدان,35.705585,51.397401,تهران,323.0,226.0,khavar,mosaghaf_felezi,3.00,2600000
49999,70888028488,960428,32.178747,54.062925,یزد,36.294833,59.601507,خراسان رضوی,910.0,625.0,khavar,mosaghaf_felezi,1.00,5230000

## Cleaning

In [4]:
train = pd.read_csv('train.csv')

dora = Dora(output = 0, data = train)
dora.data

,ID,date,sourceLatitude,sourceLongitude,SourceState,destinationLatitude,destinationLongitude,destinationState,distanceKM,taxiDurationMin,vehicleType,vehicleOption,weight,price
0,88142929797,960218,36.666045,48.489706,زنجان,29.600574,52.537114,فارس,1092.0,751.0,treili,kafi,20.00,15300000
1,30842979862,960511,32.323951,50.855412,چهارمحال و بختیاری,34.644923,50.876092,قم,414.0,264.0,khavar,mosaghaf_felezi,2.50,1800000
2,54262798716,960602,32.575448,51.581011,اصفهان,31.819508,49.865235,خوزستان,310.0,292.0,joft,kompressi,14.97,3742000
3,64071173752,960319,35.029685,48.085763,کردستان,35.703801,51.398824,تهران,391.0,271.0,khavar,mosaghaf_felezi,2.50,1300000
4,68088966447,960609,31.586965,54.449607,یزد,36.730367,53.965480,گلستان,756.0,573.0,joft,bari,15.00,8870000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,96826217204,960308,32.178659,54.068647,یزد,32.675211,51.669889,اصفهان,291.0,193.0,treili,kafi,23.89,6360000
49996,95810934666,960130,33.990468,50.688987,مرکزی,35.695076,51.397359,تهران,252.0,179.0,tak,yakhchali,6.25,3255000
49997,79567615539,960301,32.384790,48.406081,خوزستان,33.989690,51.440449,اصفهان,554.0,440.0,khavar,mosaghaf_felezi,4.50,6500000
49998,46401291404,960122,34.795119,48.521234,همدان,35.705585,51.397401,تهران,323.0,226.0,khavar,mosaghaf_felezi,3.00,2600000
49999,70888028488,960428,32.178747,54.062925,یزد,36.294833,59.601507,خراسان رضوی,910.0,625.0,khavar,mosaghaf_felezi,1.00,5230000

# Imputing Missing Values

In [7]:
dora.impute_missing_values()
dora.data

ValueError: list.remove(x): x not in list

In [6]:
# impute the missing values (using the average of each column)
dora.impute_missing_values()
dora.data

ValueError: list.remove(x): x not in list